{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

{deps, [
        {hex, ".*", {git, "git://github.com/b/hex", "HEAD"}}
       ]}.

{port_specs, [{"priv/sha3_nifs.so", ["c_src/*.c"]}]}.

{port_env, [
             %% Make sure to link -lstdc++ on linux or solaris
             {"(linux|solaris)", "CXXFLAGS", "-O3"},
             {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},

             %% OS X Leopard flags for 64-bit
             {"darwin9\.*-64-unix", "CXXFLAGS", "-O3 -m64"},
             {"darwin9\.*-64-unix", "LDFLAGS", "-arch x86_64 -lstdc++"},

             %% OS X Snow Leopard flags for 32-bit
             {"darwin1?\.*-32-unix", "CXXFLAGS", "-O3 -m32"},
             {"darwin1?\.*-32-unix", "LDFLAGS", "-arch i386"},

             %% OS X Snow Leopard/Lion flags for 64-bit
             {"darwin1?\.*-64-unix", "CXXFLAGS", "-O3 -m64"},
             {"darwin1?\.*-64-unix", "LDFLAGS", "-arch x86_64"}
             ]}.
